/* STYLE SECTIONING TAGS */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 2em;
  background-color: #FCEFD9;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #0d9c90;
}
h2 {
  margin-top: 2em; 
}


/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  width: 100%;
  justify-content: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  background-color: #B33F62;
  border: 0;
  padding: 10px;
  color: #FCEFD9;
  font-family: "Kanit", sans-serif;
  justify-content: center;
}
button:hover .disabled{
  transition: 0.3s ease;
  background-color: #d76a8b;
}
.results-page {
  width: 100%;
  height: 30em;
  display: flex;
}
.results-page > div {
  margin: 5%;
}
.hide {
  /*display: none;*/
}
a {
  text-decoration: none;
  color: #FCEFD9;
  z-index:0.5;
}
.results-page img {
  width: 30em;
  height: 30em;
  object-fit: cover;
}
#restart-style {
  position: fixed;
  bottom: 10em;
}