/* STYLE SECTIONING TAGS */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 2em;
  background-color: #FCEFD9;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #0d9c90;
}
h2 {
  margin-top: 2em; 
}


/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  width: 100%;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  background-color: #B33F62;
  border: 0;
  padding: 10px;
  color: #FCEFD9;
  font-family: "Kanit", sans-serif;
  float: center;
}
button:hover {
  transition: 0.5s ease;
}
.results-page {
  /* display: none; */
  /*position: sticky;*/
  width: 100%;
  height: 30em;
}
.column {
  width:50%;
  float: left;
}
a {
  text-decoration: none;
  color: #FCEFD9;
  z-index:0.5;
}
.results-page img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  float: center;
}
#restart {
  position: fixed;
  bottom: 10em;
}