/* STYLE SECTIONING TAGS */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 2em;
  background-color: #FCEFD9;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #0C0A3E;
  text-align: center;
}
h2 {
  margin-top: 2em; 
  background-color: #F9564F;
  padding: 1em;
  color: #0C0A3E;
  border-radius: 1em;
  text-align: center;
  font-size: 36px;
}
p {
  color: #0C0A3E;
  text-align: center;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  width: 100%;
  justify-content: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 15em;
  width: 100%;
  object-fit: cover;
}

/* STYLE BUTTON */
button { 
  background-color: #B33F62;
  border: 0;
  padding: 10px;
  color: #FCEFD9;
  font-family: "Kanit", sans-serif;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
  display: block;
  margin-top: 5px;
  border-radius: 0.5em;
}
button:hover .disabled{
  transition: 0.3s ease;
  background-color: #d76a8b;
}
.disabled {
  display: none;
  cursor: not-allowed;
}
.results-page {
  width: 100%;
  height: 30em;
  display: flex;
}
.results-page > div {
  margin: 5%;
}
#laufey {
  display: none;
}
#grentperez {
  display: none;
}
#yung-kai {
  display: none;
}
#wave-to-earth {
  display: none;
}
#keshi {
  display: none;
}
a {
  text-decoration: none;
  color: #FCEFD9;
  z-index:0.5;
}
.results-page img {
  width: 30em;
  height: 30em;
  object-fit: cover;
}
#restart-style {
  position: fixed;
  bottom: 10em;
}